@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-compontent {
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.header {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 40px, rgba(240, 197, 46, 0.5) 40px, rgba(240, 197, 46, 0.5) 226px);
}

.header-top,
.header-bottom {
  border: 1px solid transparent;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.button-search {
  background: transparent;
  color: transparent;
  border: none;

}

.search-form:focus-within .button-search {
  width: 83px;
  height: 49px;
  border: 2px transparent;
  border-left: 2px solid #000000;
  border-top: 2px solid #000000;
  background: transparent;
  float: right;
  color: #000000;
  cursor: pointer;
}

.search-form:focus-within>.button-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-form:focus-within>.button-search:active {
  color: rgba(255, 255, 255, 0.3);
}


.search-form {
  width: 441px;
}

.search-input {
  background-color: rgba(240, 197, 46, 0);
  color: rgba(0, 0, 0, 0.3);
  border: 0;
  width: 356px;
  padding-left: 40px;
  padding-top: 19px;
  padding-bottom: 15px;
  outline: none;
}

.search-form:focus-within {
  height: 49px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background: transparent;
  width: 441px;
}

.search-form:hover .search-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form:focus-within .search-input {
  color: rgba(0, 0, 0, 1);
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-navigation,
.dropdown-list,
.site-navigation {
  list-style: none;
  color: #000000;
}

.user-navigation a,
.dropdown-list a,
.site-navigation a,
.dropdown {
  color: #000000;
}

.user-navigation a:hover,
.dropdown-list a:hover,
.site-navigation a:hover,
.dropdown:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active,
.dropdown-list a:active,
.site-navigation a:active,
.dropdown:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a,
.dropdown {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.features-slider {
  list-style: none;
}

.slider-title {
  color: #000000;
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
}

.slider-title-number {
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 179px;
  font-weight: 800;
  line-height: 179.2px;
}

.slider-description {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.button {
  color: #000000;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 8px;
  width: 220px;
  border: none;
  background-image: linear-gradient(180deg, #ffffff, #ffffff 44.3%, #f0c52e 33.3%, #f0c52e 56.6%, #ffffff 56.6%, #ffffff 100%);
  display: block;
  text-align: center;
  height: 40px;
}

.button:hover {
  background-image: linear-gradient(#f0c52e, #f0c52e);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.features-definition {
  color: #000000;
  font-family: Gilroy;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}

.features-header {
  font-size: 13px;
  line-height: 20px;
}

.category-list {
  list-style: none;
}

.category-name {
  color: #000000;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.category-name:active {
  color: rgba(0, 0, 0, 0.3)
}

.services {
  background-image: linear-gradient(180deg, #ffffff, #ffffff 100px, #e5e5e5 100px, #e5e5e5 388px);
}

.services-list {
  list-style: none;
}

.service-name {
  color: #000000;
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
}

.brands-list {
  list-style: none;
}

.brands-item {
  filter: grayscale(100%);
  opacity: 0.2;
}

.brands-item:hover {
  filter: none;
  opacity: 1;
  transition: 1s;
}

.about-title {
  color: #000000;
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
}

.about-partners {
  list-style: none;
}

.about-partners-item {
  color: #000000;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

.contacts-title {
  color: #000000;
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
}

footer {
  background-color: #464646;
  border: 1px solid transparent;
}

.footer-user-navigation .user-navigation-item {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation .user-navigation-item:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation .user-navigation-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-site-navigation .site-navigation-item,
.footer-address,
.footer-tel,
.footer-tel a {
  color: rgba(255, 255, 255, 1);
  font-style: normal
}

.footer-site-navigation .site-navigation-item {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-site-navigation .site-navigation-item:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation .site-navigation-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.write-us-form input[type="text"],
.write-us-form input[type="email"] {
  font: inherit;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  width: 360px;
  height: 50px;
  padding-left: 20px;
  color: rgba(70, 70, 70, 0.4);
}

.write-us-form input[type="text"]:invalid,
.write-us-form input[type="email"]:invalid {
  background-color: rgba(237, 181, 181, 0.5);
  color: rgba(70, 70, 70, 0.4);
}

.write-us-form input[type="text"]:focus,
.write-us-form input[type="email"]:focus,
.write-us-form textarea:focus {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid #f0c52e;
  outline: none;
  color: #464646;
}

.write-us-form textarea {
  resize: none;
  background-color: rgba(242, 242, 242, 1);
  padding-top: 18px;
  padding-left: 20px;
  width: 760px;
  height: 156px;
  border: none;
  font: inherit;
  color: rgba(70, 70, 70, 0.4);
}

button.button {
  background-image: linear-gradient(180deg, #ffffff, #ffffff 54.3%, #f0c52e 54.3%, #f0c52e 67.6%, #ffffff 67.6%, #ffffff 100%);
}

.category-title {
  color: #000000;
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-item,
.sort-item a {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.breadcrumbs-item:hover,
.sort-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item:active {
  color: rgba(0, 0, 0, 0.1);
}

.sort-item a:active,
.sort-item-current a {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}



.filter-header,
.sort-header {
  color: #000000;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.sort-list {
  list-style: none;
}

.sort-item {
  font-size: 14px;
  font-weight: 400;
}

.goods-list {
  list-style: none;
}

.goods-item-name {
  color: #000000;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.goods-item-price {
  color: #464646;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.goods-item-image img:hover {
  background-color: #eeeeee;
  opacity: 0.7;
}

.compare {
  line-height: 20px;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  border: none;
  background: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5)
}

.compare:hover {
  color: #000000;
}

.compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.page-navigation {
  width: 760px;
  height: 70px;
  padding: 1px;
  background-color: rgba(235, 235, 235, 1);
  display: flex;
}

.page-numbers {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  padding-left: 0;
  margin-top: 20px;
}

.prev,
.next {
  display: block;
  width: 137px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 24px;
  color: #000000;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.prev:hover,
.next:hover {
  background-color: rgb(216, 216, 216)
}

.prev:active,
.next:active {
  color: rgba(216, 216, 216, 0.3)
}

.page-number:not(:first-child) {
  margin-left: 31px;
}

.page-number a {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
}

.page-number a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.page-number a:active,
.page-number-current a {
  color: rgba(0, 0, 0, 1);
}

/* Позциционирование */

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 20px;
}


.header {
  min-height: 226px;

}

.header-top {
  display: flex;
  justify-content: space-between;
}

.user-navigation {
  display: flex;
}

.dropdown-list {
  display: none;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
}

.features-slider {
  margin: 0;
  padding-left: 0;
}

.features-slider li {
  display: flex;
  padding-left: 90px;
  padding-top: 2px;
  min-height: 594px;
  justify-content: space-between;
  background-image: linear-gradient(180deg, rgba(240, 197, 46, 0.5), rgba(240, 197, 46, 0.5) 113px, rgba(255, 255, 255, 1) 113px, rgba(255, 255, 255, 1) 594px);
}

.features-table {
  display: none;
}

.categories {
  min-height: 322px;
  background: red;
}

.services-list {
  margin: 0;
}

.category-name {
  margin: 0;
  max-width: 125px;

}

.category-list {
  margin: 0;
  display: flex;
}

.services {
  min-height: 388px;
}

.service-name {
  margin-top: 0;
}

.services-list {
  margin-top: 0;
}

.brands-list {
  display: flex;
  min-height: 287px;
  background-color: red;
  margin-top: 0;
  margin-bottom: 0;
}

.about-contacts-wrapper {
  min-height: 655px;
  display: flex;
  justify-content: space-between;
}

footer {
  min-height: 323px;
}

.footer-top,
.footer-middle,
.footer-bottom,
.footer-user-navigation,
.footer-site-navigation {
  display: flex;
}

.modal-map,
.modal-write-us {
  display: none;
}

.breadcrumbs {
  display: flex;
}


.main-middle-container {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  padding: 0 20px;
  
}

.main-middle-wrapper {
background-image: linear-gradient(to right, #efefef, #efefef 50%, #fff 50%, #fff);
}

.filter {
  max-width: 328px;
}

.sort {
  display: flex;
  max-width: 468px;
}

.main-right {
  max-width: 800px;
  padding-left: 73px;
  background-color: #ffffff;
}

.color,
.bluetooth {
  display: flex;
  flex-direction: column;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.sort-list {
  display: flex;
}

li.second-slide {
  display: none;
}

li.third-slide {
  display: none;
}

li.services-third-slide,
li.services-second-slide {
  display: none;
}

.services-slider {
  margin-top: 0;
}
