@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.header-top,
.header-bottom {
  background-color: rgba(240, 197, 46, 0.5);
  border: 1px solid transparent;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.button-search {
  width: 85px;
  height: 49px;
  border: 2px solid #000000;
  background: transparent;
}

.button-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-navigation,
.dropdown-list,
.site-navigation {
  list-style: none;
  color: #000000;
}

.user-navigation a,
.dropdown-list a,
.site-navigation a,
.dropdown {
  color: #000000;
}


.user-navigation a:hover,
.dropdown-list a:hover,
.site-navigation a:hover,
.dropdown:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active,
.dropdown-list a:active,
.site-navigation a:active,
.dropdown:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a,
.dropdown {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}

.features-slider {
  list-style: none;
}

.slider-title {
  color: #000000;
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
}

.slider-title-number {
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 179px;
  font-weight: 800;
  line-height: 179.2px;
}

.slider-description {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.button {
  color: #000000;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}

.features-definition {
  color: #000000;
  font-family: Gilroy;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}

.features-header {
  font-size: 13px;
  line-height: 20px;
}

.category-list {
  list-style: none;
}

.category-name {
  color: #000000;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.services {
  background-color: #e5e5e5;
}

.services-list {
  list-style: none;
}

.service-name {
  color: #000000;
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
}

.brands-list {
  list-style: none;
}

.brands-item:hover {
  transition: 0.5s;
  filter: grayscale(100%);
  opacity: 0.2;
}

.about-title {
  color: #000000;
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
}

.about-partners {
  list-style: none;
}

.about-partners-item {
  color: #000000;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

.contacts-title {
  color: #000000;
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
}

.footer-top,
.footer-bottom,
.footer-middle {
  background-color: #464646;
  border: 1px solid transparent;
}

.footer-user-navigation .user-navigation-item {
  color: rgba(255, 255, 255, 0.7);
  }

.footer-user-navigation .user-navigation-item:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation .user-navigation-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-site-navigation .site-navigation-item,
.footer-address,
.footer-tel,
.footer-tel a {
  color: rgba(255, 255, 255, 1);
  font-style: normal
}

.footer-site-navigation .site-navigation-item {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}

.footer-site-navigation .site-navigation-item:hover {
  color: rgba(255, 255, 255, 0.6);}

.footer-site-navigation .site-navigation-item:active {
  color: rgba(255, 255, 255, 0.3);













/* 


a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}


 */























/* 
.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}



 */













/* 













.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-columns {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.main-footer {
  color: #ffffff;

  background-color: #212121;
  background-image: url("img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f3f0;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
} */
